modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[userenv]

[userenv.shared]
VITE_CONTRACT_ADDRESS = "0xAC69c540DDF49fCe90088B36127ca852f198B353"
VITE_PAYMENT_TOKEN_ADDRESS = "0x0D3E80cBc9DDC0a3Fdee912b99C50cd0b5761eE3"
VITE_BSC_NETWORK = "testnet"
VITE_BOARD_HANDLER_ADDRESS = "0x6b3280d57159e2Cac30777b437291900cA3ba1C0"

[agent]
expertMode = true
