modules = ["nodejs-20", "web", "postgresql-16", "python-3.11"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[userenv]

[userenv.shared]
VITE_MVAULT_CONTRACT_ADDRESS = "0x6c6205077237f64751a607228ee94bb32767dc25"
VITE_MVT_TOKEN_ADDRESS = "0x4c9491bed7ecd722b27a49e74edc5b8edcf01c96"
VITE_BOARD_HANDLER_ADDRESS = "0x80b0b9fc4c999ed3e2a88ab1fcda94fa7b0c23e4"
VITE_PAYMENT_TOKEN_ADDRESS = "0xab8c6267dcca9e70b625014c8f77eee9728e14c3"
VITE_DEPOSIT_VAULT_ADDRESS = "0xD307FB39d7d42B59AC46e28D71ef72019E9D5e38"
VITE_BSC_NETWORK = "mchain"
VITE_MVAULT_VIEW_ADDRESS = "0x2d152831022812889d0f5da60f7fe9e692bb1bca"
VITE_DISTRIBUTOR_ADDRESS = "0x46B7A3a9f21bC0baf942869d0Ba332fA0C652089"
VITE_MVAULT_STAKING_ADDRESS = "0xc129d62b1801f67ade7c82817b269abeb6b7139b"

[agent]
expertMode = true
stack = "FULLSTACK_JS"
