modules = ["nodejs-20", "web", "postgresql-16", "python-3.11"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[userenv]

[userenv.shared]
VITE_MVAULT_CONTRACT_ADDRESS = "0x02C090edDcDb8fDE8fD72CF271ab5Bf7E2f65D72"
VITE_MVT_TOKEN_ADDRESS = "0xb0a3c5726C863d6ce0FAfa0Cc35478Ea56dd760a"
VITE_BOARD_HANDLER_ADDRESS = "0x8584C3e0Db2cEAF2797b849f84CfEeE075Cb9F07"
VITE_PAYMENT_TOKEN_ADDRESS = "0x0D3E80cBc9DDC0a3Fdee912b99C50cd0b5761eE3"
VITE_DEPOSIT_VAULT_ADDRESS = "0xD307FB39d7d42B59AC46e28D71ef72019E9D5e38"
VITE_BSC_NETWORK = "testnet"
VITE_MVAULT_VIEW_ADDRESS = "0xE47f12f00b7954e123b54319D41e2DBE77e3Ef6f"
VITE_DISTRIBUTOR_ADDRESS = "0x46B7A3a9f21bC0baf942869d0Ba332fA0C652089"
VITE_MVAULT_STAKING_ADDRESS = "0x564fbB289b7bE1Ee8e98eE68fa5897A0b9c52541"

[agent]
expertMode = true
stack = "FULLSTACK_JS"
